@model EventPlanner.Models.Gathering

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Gathering</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GatheringName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GatheringName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GatheringDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GatheringDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinorsAllowed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinorsAllowed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GatheringStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GatheringStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GatheringEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GatheringEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GatheringCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GatheringCategory.CategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GatheringId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
