@model IEnumerable<EventPlanner.Models.Registration>

@{
    ViewData["Title"] = "Index";
}

<h1>Registrations</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationOwner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationGathering)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationOwner.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationGathering.GatheringName)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.RegistrationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RegistrationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
